@media (max-width: 768px) {
    .titleBackground { 
        background: linear-gradient(rgba(4, 4, 63,0.9), rgba(4, 4, 63,0.5)), url("Assets/profile.jpg"); 
    }
  }
  @media (min-width: 769px) {
    .titleBackground { 
        background: linear-gradient(50deg, rgb(4, 4, 63) 10%,  rgb(4, 4, 63, 0.05) 100%), linear-gradient(90deg, rgb(4, 4, 63, 0.7) 0%,  rgb(0, 0, 128, 0.05) 100%), url("Assets/profileAlt.jpg"); 
    }
  }
.titleBackground { 
    height: 100vh; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


.title {
    font-size: 12vmin;
    font-family: 'Roboto Mono', monospace;
    color:aliceblue;
}